h1 {
    font-size: larger;
    color: red
}

.numberInput {
    display: inline;
    margin: auto;
    align-items: center;
}

form {
    text-align: center;
}

.output {
    display: inline;
    text-align: center;
    margin: auto;
}

input {
    text-align: center;
}